@media screen and (min-width: 0px) and (max-width: 1943px) {
	.header {
		font-size: calc((1.1 - 1) * 1.2vw + 1rem);
	}
	.shaun {
		font-size: calc((1.5vw) + 1rem);
	}
	.contactFont {
		font-size: calc((0.6vw) + 1rem);
	}
}
@media screen and (min-width: 1944px) {
	.header {
		font-size: calc(1.1 * 1rem);
	}
	.shaun {
		font-size: calc(2.2 * 1rem);
	}
	.contactFont {
		font-size: calc((0.2vw) + 1.3rem);
	}
}
.header {
	width: 100%;
	position: fixed;
	display: flex;
	font-family: "kepler-std";
	background-color: #faf9f6;
	padding: 3vh 4vw;
	margin-left: -4vw;
	box-sizing: border-box;
	z-index: 1;
	max-height: 200px;
	top: 0;
}

nav {
	width: inherit;
	max-width: 1943px;
	display: flex;
	letter-spacing: 0em;
	justify-content: space-between;
	align-items: center;
}

.shaun {
	color: #38383b;
	display: flex;
	text-decoration: none;
	font-weight: bold;
}

.menuParent {
	display: flex;
	width: 25vw;
	min-width: 150px;
	max-width: 280px;
	justify-content: space-between;
	align-items: center;
}

.navLink:link,
:visited {
	color: #38383b;
	display: flex;
	text-decoration: none;
}

.resumeButton {
	padding: 5px 18px;
	background-color: #38383b;
	color: #faf9f6;
	border-radius: 18px;
	max-height: 30px;
}

.contact {
	/* font-weight: bold; */
	/* font-size: 20px; */
	background-color: #38383b;
	border-radius: 10px;
	color: #faf9f6;
	padding: calc(5px + 0.1vh) calc(12px + 0.1vw);
	box-shadow: 0 0 5px #000;
}

.flex {
	display: flex;
}
