.subheaderContainer {
	width: 100%;
	height: 10vh;
	margin-top: calc(6vh + 50px);
	margin-bottom: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mainSubHeader {
	font-size: calc((1vw + 1vh) + 1rem);
	font-weight: bold;
	padding-bottom: 1vh;
}

.subSububHeader {
	font-style: italic;
	font-size: calc(((1vw + 1vh) + 1rem) * 0.618);
	text-align: center;
}
