@media screen and (min-width: 0px) and (max-width: 1943px) {
	.footerMainText {
		font-size: calc((2.8 - 1) * 1.2vw + 1rem);
	}
}
@media screen and (min-width: 1944px) {
	.footerMainText {
		font-size: calc((2 - 1) * 1.2vw + 1rem);
	}
}

.footerContainer {
	min-height: calc(15vh + 15vw);
	background-color: #38383b;
	/* margin-right: -4vw;
	margin-left: -4vw; */
	display: flex;
	color: #faf9f6;
	padding: 8vh 4vw 4vh 4vw;
	font-weight: lighter;
}

.footer {
	max-width: 1943px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footerMainSubText {
	font-size: 19px;
	font-weight: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 180px;
}

.footerIcons {
	color: #faf9f6;
	display: flex;
	margin-right: 2vw;
	max-width: 180px;
}

.footerMainTextLink {
	color: grey;
}

.footerMainText {
	max-width: 1000px;
	padding-right: 10vw;
}
